<div class="form-wrap" id="small-page">
  <h1 class="name1">Quiz</h1>
    <div class="in-form">
      <div class="btn-wrap"><%= button_to "New Quiz", {controller: 'quizzes', action: 'create'}, id: "quiz-btn" %></div>
        <div>
          <% @quizzes.each do |quiz| %>
            <div id ="card-wrap">
              <div class = "quiz-list">
              <div class = "quiz-num"><%= quiz.id %></div>
                <% if quiz.user_id == current_user.id %>
                
                <a><%="#{quiz.score}/10点"%></a>
                <%= link_to "ReTry",restart_quiz_path(quiz.id), id:"quiz-option" %>
                  <% if quiz.is_propose == true %>
                    <%= link_to "get an answer",quiz_path(quiz.id),id:"quiz-option" %>
                  <% else %>
                    <%= link_to "continue", scoring_quiz_path(quiz.id),id:"quiz-option" %>
                  <% end %>
                <%end%>
              </div>
            </div>
          <% end %>
          <div class = "paginate">
            <%= paginate @quizzes %>
          </div>
        </div>
    </div>
    <div id="index-btn"><%= link_to "Go To Ranking", rankings_path %></div>

</div>

