<div class="form-wrap" id="scoring-page">
  <h1 class = "name1">Quiz</>
    
  <div class='in-form'>
    <div class ="scoring-wrap">
      <table class="scoring">
        <thead>
          <tr>
            <th>no</th>
            <th>quiz</th>
            <th>answer</th>
            <th>corrent or uncorrect</th>
          </tr>
        </thead>
        <tbody>
          <% i=1 %>
          <% @lists.each do |list| %>
          <tr>
            <th><%= i %></th>
            <th class = "scoring-quiz"><%=link_to " <#{Question.find(list.right_answer).title}> does mean？",quiz_list_path(@quiz.id, list.id )  %>
            </th>
            <th>
              <% if list.quiz_answer == 0 %>
              <div id="unanswered"><%= "x" %></div>
              <% else %>
              <%= list.quiz_answer %>
              <% end %>
            </th>
            <% if @quiz.is_propose == true %>
            <th>
              <%if list.right_answer == list.answer_number %>
              <div class="correct"><%= "o" %></div>
              <% else %>
              <div class="uncorrect"><%= "x" %></div>
              <% end %>
            </th>
          </tr>
        <% end %>
        <% i+=1 %>
        </tbody>
        <% end %>
      </table>

      <div class="scoring-footer">
        <%= link_to 'Back to Lists',quizzes_path %>
        <%= link_to 'Ranking', rankings_path %>
      </div>
    </div>    
    
  </div>
</div>