<div class="form-wrap" id = "small-page">
    <div class = "in-form">
    <h1 class="name1">Tags</h1>

    <table class = "in-form">   
      <thead>
        <tr>
          <th>no</th>
          <th colspan = "3">tag</th>
          <div class="search-form">          
            <%= form_with url: tags_path, local: true, method: :get do |f| %>
              <%= f.submit "search", class: "search-btn"%>
              <%= f.text_field :tag, class: "search-field", placeholder: "Search" %>
            <%end%>
          </div> 

        </tr>
      </thead>
      <tbody class = "words-tags-table">
      <% @tags.each do |t| %>
        <tr>
          <td style = "color:rgb(68, 151, 224); font-weight:700"><%= t.id%></td>
          <td><%= t.name %></td>
          <% if logged_in? %>
            <% if current_user.id == t.user_id %>
              <td><%= link_to "Edit", edit_tag_path(t.id), id: "btn-to-edit" %></td>
              <td><%= button_to "Delete", tag_path(t.id), method: :delete, id: "btn-to-del" %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
      <%= link_to "Create New Tag", new_tag_path, id:"index-btn" %>
  </div>
</div>